<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="{% static 'CSS/home-style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Rock Paper Scissors</h1>
        <p>Welcome to the classic game of Rock Paper Scissors. Are you ready to play?</p>
        <a href="game-starter">Play Now</a>
    </div>
</body>
</html>
